@import "tailwindcss";

.thin-scroll::-webkit-scrollbar {
  width: 4px;
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}

@keyframes pulse-glow {
  0%, 100% { box-shadow: 0 0 0px rgba(34,197,94,0.8); }
  50% { box-shadow: 0 0 6px rgba(34,197,94,1); }
}

